<a href="https://colab.research.google.com/github/ChaitaliNarkhede-cloud/Python_practice/blob/main/ChaitaliBasicPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Python is a case sensitive language

print('Hello World')

#Print("HELLO WORLD") # o/p not came P is cap.
#use of print input so Output return karega

Hello World

In [9]:
print()

In [12]:
print(1,2, 3)
print()

1 2 3

In [11]:
print(True, False)

True False

In [13]:
print('kashiye')
print("kaise ho ")

kashiye
kaise ho

In [14]:
# print multiple data
print('hello', 1, 2.5,True,  )

hello 1 2.5 True

In [17]:
#override
print('hello',end= "-")
print('world')

hello-world

Data Types

In [21]:
# Integer
#type()----> return type of function

print(8)

# 1*10^308 upto this hold numeric value

print(1e309) # INf

8
inf

In [20]:
# Decimal/Float
print(8.55)
print(1.7e309) # upto this floating value hold

8.55
inf

In [19]:
#Boolean
print(True)
print(False)

#True=1
#False=0

True
False

In [24]:
# Text/String
# hold string + numeric (write in commas ''," ")

print('Hello World')

print("Hello World", 123)

Hello World
Hello World 123

In [22]:
# Complex number
print(5+6j)

(5+6j)

In [37]:
# List in py = array in C
print([1,2,3,4])

[1, 2, 3, 4]

In [35]:
#Tuple
print((1,2,3,4))

(1, 2, 3, 4)

In [38]:
#set
print({1,2,3,4})

{1, 2, 3, 4}

In [43]:
#Dictionary
print({'name':'neha','age':20})

{'name': 'neha', 'age': 20}

# Variables

In [48]:
#Variables: used to store data

# C/C++
name = 'Chaitali'
print(name)

a = 'Chaitali'
b = 'neha'

print(a + b)

Chaitali
Chaitalineha

In [52]:
# Dynamic Typing
a = 5

# Static Typing
#int a = 5

In [56]:
# Dynamic Binding
a = 5
print(a)
a = 'Chaitali'
print(a)

# Static Binding
#int a = 5
#int b ='chaitali'

5
Chaitali

In [57]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [66]:
a,b,c = 1,2,3 # multiple assignment
print(a,b,c)

1 2 3

In [65]:
a=b=c= 5   # assign same value to all
print(a,b,c)

5 5 5

# Keywords & Identifiers

In [64]:
import keyword

#keyword: reserve world by python
#"kwlist()"

print(keyword.kwlist)   # -- to see keyword list

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
# Identifiers
# You can't start with a digit
name1 = 'Neha'
print(name1)
# You can use special chars -> _
_ = 'neha'
print(_)
# identiers can not be keyword