<a href="https://colab.research.google.com/github/ChaitaliNarkhede-cloud/Python_practice/blob/main/ChaitaliBasicPY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
# Python is a case sensitive language

print('Hello World')

#Print("HELLO WORLD") # o/p not came P is cap.
#use of print input so Output return karega

Hello World

In [9]:
print()

In [12]:
print(1,2, 3)
print()

1 2 3

In [11]:
print(True, False)

True False

In [13]:
print('kashiye')
print("kaise ho ")

kashiye
kaise ho

In [14]:
# print multiple data
print('hello', 1, 2.5,True,  )

hello 1 2.5 True

In [17]:
#override
print('hello',end= "-")
print('world')

hello-world

Data Types

In [21]:
# Integer
#type()----> return type of function

print(8)

# 1*10^308 upto this hold numeric value

print(1e309) # INf

8
inf

In [20]:
# Decimal/Float
print(8.55)
print(1.7e309) # upto this floating value hold

8.55
inf

In [19]:
#Boolean
print(True)
print(False)

#True=1
#False=0

True
False

In [24]:
# Text/String
# hold string + numeric (write in commas ''," ")

print('Hello World')

print("Hello World", 123)

Hello World
Hello World 123

In [22]:
# Complex number
print(5+6j)

(5+6j)

In [37]:
# List in py = array in C
print([1,2,3,4])

[1, 2, 3, 4]

In [35]:
#Tuple
print((1,2,3,4))

(1, 2, 3, 4)

In [38]:
#set
print({1,2,3,4})

{1, 2, 3, 4}

In [43]:
#Dictionary
print({'name':'neha','age':20})

{'name': 'neha', 'age': 20}

# Variables

In [48]:
#Variables: used to store data

# C/C++
name = 'Chaitali'
print(name)

a = 'Chaitali'
b = 'neha'

print(a + b)

Chaitali
Chaitalineha

In [52]:
# Dynamic Typing
a = 5

# Static Typing
#int a = 5

In [56]:
# Dynamic Binding
a = 5
print(a)
a = 'Chaitali'
print(a)

# Static Binding
#int a = 5
#int b ='chaitali'

5
Chaitali

In [57]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [66]:
a,b,c = 1,2,3 # multiple assignment
print(a,b,c)

1 2 3

In [65]:
a=b=c= 5   # assign same value to all
print(a,b,c)

5 5 5

# Keywords & Identifiers

In [64]:
import keyword

#keyword: reserve world by python
#"kwlist()"

print(keyword.kwlist)   # -- to see keyword list

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [5]:
# Identifiers
# You can't start with a digit
name1 = 'Neha'
print(name1)
# You can use special chars -> _
_ = 'neha'
print(_)
# identiers can not be keyword

Neha
neha

In [4]:
# Static Vs Dynamic
input('Enter your email')

Enter your email chaitalinarkhede123@gmail.com

'chaitalinarkhede123@gmail.com'

In [6]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input("enter second number"))

#print(type(fnum),type(snum))
# add the 2 variables

result = fnum + snum

# print the result
print(result)
print(type(fnum))

enter first number20
enter second number30
50
<class 'int'>

# Type Conversion :

In [8]:
# Implicit ----> automatically convert by python
# Explicit----> manualy conversion
print(5+5.6)
print(type(5),type(5.6))

print(type(4))

10.6
<class 'int'> <class 'float'>
<class 'int'>

# Literals

In [11]:
# literals means a stored value into a variable
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [9]:

# binary
x = 3.14j
print(x.imag)

3.14

In [12]:
#String
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [14]:
#Boolean
a = True + 20
b = False + 150

print("a:", a)
print("b:", b)

a: 21
b: 150

In [ ]:
#None
k = None
a = 5
b = 6
print('Program exe')

# Operaters
its used to perform operations on values amd variables

In [39]:
# Arithmetic
# Relational
# Logical
# Bitwise
# Assignment
# Membership

In [17]:
# Arithmetic (+,-,*,%,/)
a= 23
b= 45
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)

# values

print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)

print(5%2)

print(5**2)

68
-22
1035
23
0.5111111111111111
11
-1
30
2.5
2
1
25

In [38]:
# Relational (<,>,=,!=,>=,<=)
a=13
b=23
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
False
True
False
True
False
True
True
True
True
False

In [37]:
# Logical(AND, OR, NOT)
a= True
B= False

print(True and False)
print(True or False)
print(not True)
print(not False)

print(1 and 0)

print(1 or 0)

print(not 1)

False
True
False
True
0
1
False

In [28]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~1)

print(2 >> 2 )

print(5 << 2)

2
3
1
-2
0
20

In [36]:
#Assignmemt operator(=)

# =
# a = 2

a = 2

# a = a % 2
a %=  2

#a++ = ++a

print(a)

0

In [35]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [43]:
# Program - Find the sum of a 3 digit number entered by the user

number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number345
12